@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.container-card{
    height: 500px;
    width: 350px;
    background-color: rgb(233, 220, 220);
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.472);
}

h1{
    text-align: center;
    color: rgb(122, 19, 19);
    font-family:'Pacifico', cursive;
}

#lista{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
}
#btn1, #btn2, #btn3{
    float: right;
    width: 120px;
    background-color:rgb(230, 125, 125);
    Color: white;
    
    
}
.componenteprincipal{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

input{
    width: 200px;
    height: 30px;
}


li {
    list-style-type: none;
}

.excluirlista{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}    
    
p{
    font-size: 15px;
    color: rgb(122, 19, 19);
    font-family: 'Pacifico', cursive;
}
 