
<h1>Minha lista de atividades</h1>
<mat-card class="container-card">

  <input matInt type="text" [(ngModel)]="Item" #item>
  <button id="btn1" mat-raised-button color (click)="SalvarDados(item.value)"> Adicionar item</button>
  <div class="list">
    <ul>

      <li class="lt" *ngFor="let item of Itens" let Item=index> {{ item }}
        <button id="btn2" mat-raised-button color (click)="Retirar(Item)">Remover Item</button>
      </li>
    </ul>
  </div>
  
  <div class="excluirlistafofinha">
    
    <button id="btn3" mat-raised-button color (click)="ExcluirListaFofinha()">excluir lista</button><br>
    <p>Deseja excluir um total de {{Itens.length}} itens?</p>
  </div>

</mat-card>
